In [3]:
import json

In [472]:
import pandas as pd
import numpy as np

In [5]:
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

In [7]:
#returns shape of news and oped
def oped_v_news(df):
    df.type_of_material.hist()
    news = sum(df.type_of_material == "News")
    oped = sum(df.type_of_material == "Op-Ed")
    print(f'News: {news} Oped: {oped}, Total: {oped+news}, Op-Ed {round(oped/(oped+news), 2)} of total')
    #plt.savefig('../img/oped_news_hist.png')

# split quoted text from article

In [123]:
#split document into article body and quotation
def quote_removal(document):
    article = []
    quote_list = []
    
    open_quote = "“"
    close_quote = "”"
    
    close_split = document.split(close_quote)
    
    for string in close_split:

        quote = string.split(open_quote)
        article.append(quote.pop(0))
        quote_list += quote
    
    article = " ".join(article)
    quotation = " ".join(quote_list)
        
    return(article, quotation)

# filter only printed articles

In [522]:
import os
import glob
import pandas as pd

#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
df2020 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2020.csv'
df2019 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2019.csv'

#combine print, type, text columns in the list
def printed(file):
    print_cols = ['_id','print_page','pub_date','keywords','type_of_material','lead_paragraph','text']    
    #df = pd.read_csv(file, usecols=print_cols, index_col='_id', low_memory=False)
    df = df[df.print_page.isna() == False]
    df = df[~df.text.isna() == True]
    return df

# concat articles

In [4]:
import os
import glob
import pandas as pd

#extension = 'csv'
#all_filenames = [i for i in glob.glob('*.{}'.format(extension))]
df2020 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2020.csv'
df2019 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2019.csv'
df2018 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2018.csv'
df2017 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2017.csv'
df2016 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2016.csv'
df2015 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2015.csv'
df2014 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2014.csv'
df2013 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2013.csv'
df2012 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2012.csv'
df2011 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2011.csv'
df2010 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2010.csv'
df2009 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2009.csv'
df2008 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2008.csv'
df2007 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2007.csv'
df2006 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2006.csv'
df2005 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2005.csv'
df2004 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2004.csv'
df2003 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2003.csv'
df2002 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2002.csv'
df2001 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2001.csv'
df2000 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_2000.csv'
df1999 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1999.csv'
df1998 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1998.csv'
df1997 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1997.csv'
df1996 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1996.csv'
df1995 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1995.csv'
df1994 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1994.csv'
df1993 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1993.csv'
df1992 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1992.csv'
df1991 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1991.csv'
df1990 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1990.csv'
df1989 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1989.csv'
df1988 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1988.csv'
df1987 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1987.csv'
df1986 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1986.csv'
df1985 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1985.csv'
df1984 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1984.csv'
df1983 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1983.csv'
df1982 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1982.csv'
df1981 = '/Users/djbetts/Desktop/opinion_classifier/data/archive/raw_1981.csv'

In [454]:
#combine print, type, text columns in the list
def printed(file):
    print_cols = ['_id','print_page','pub_date','keywords','type_of_material','lead_paragraph','text']    
    df = pd.read_csv(file, usecols=print_cols, index_col='_id', low_memory=False)
    df = df[df.print_page.isna() == False]
    df = df[~df.text.isna() == True]
    return df

In [455]:
#returns articles w/ 'United States Politics and Government' as a keyword
def return_pol_gov(row):
    list_dict = eval(row.keywords)
    for (dic) in (list_dict):
        if dic.get('value') == 'United States Politics and Government':
            return True

def keyword_filter(df, keyword='United States Politics and Government'):
    df[keyword] = df.apply(return_pol_gov, axis=1)
    df = df[df[keyword] == True]
    return df

In [456]:
#returns shape of news and oped
def oped_v_news(df):
    df.type_of_material.hist()
    news = sum(df.type_of_material == "News")
    oped = sum(df.type_of_material == "Op-Ed")
    print(f'News: {news} Oped: {oped}, Total: {oped+news}, Op-Ed {round(oped/(oped+news), 2)} of total')
    plt.savefig('../img/oped_news_hist.png')

# data

In [512]:
data = printed(df2020)

In [513]:
%%time
keyword = keyword_filter(data)

CPU times: user 2.5 s, sys: 20.8 ms, total: 2.52 s
Wall time: 2.52 s

In [514]:
df = data.copy()

In [515]:
df.columns

Index(['web_url', 'keywords', 'pub_date', 'type_of_material', 'print_page',
       'text', 'United States Politics and Government'],
      dtype='object')

In [516]:
#split document into article body and quotation
def quote_removal(document):
    article = []
    quote_list = []
    
    open_quote = "“"
    close_quote = "”"
    
    close_split = document.split(close_quote)
    
    for string in close_split:

        quote = string.split(open_quote)
        article.append(quote.pop(0))
        quote_list += quote
    
    #article = " ".join(article)
    quotation = " ".join(quote_list)
        
    return(quotation)

In [517]:
df['article'] = df.text.apply(quote_removal)

AttributeError: 'float' object has no attribute 'split'

In [518]:
def keyword_string(row):
    
    dictionary_list = (eval(row))
    output = " "
    
    for dictionary in dictionary_list:
        dict_value = dictionary.get('value')
        output += (f'{dict_value} ')
    return output.split(" ")

In [519]:
df['keyword_list'] =  df.keywords.apply(keyword_string)

In [520]:
def remove_lead_par(row):
    print(f'{row.text}, {row.lead_paragraph}')

In [521]:
df.lead_paragraph.iloc[1]

AttributeError: 'DataFrame' object has no attribute 'lead_paragraph'

In [501]:
df.apply(remove_lead_par, axis =1)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

_id
nyt://article/eeb31381-63db-5bf0-8e56-c92b1bc2135e    None
nyt://article/25642b46-e875-56a1-b7fd-1be7c34a4179    None
nyt://article/cffd8777-d58f-5853-98e9-729e97b1833f    None
nyt://article/0d6112f7-242d-5ab7-8882-44b56b5cfcd3    None
nyt://article/6b78ea2e-6951-58a7-b8f8-7227d1985beb    None
                                                      ...
nyt://article/a4383433-5708-530c-bf78-2ec5ee0d96cd    None
nyt://article/aff30fb5-0177-5fed-b8b5-55656f2672f6    None
nyt://article/d67ea079-eaf8-5e69-a77c-3138a3fc91cb    None
nyt://article/5af20a48-6f66-5bae-a9fd-948268ed38cf    None
nyt://article/3aea061c-d11a-53d1-8480-c0b163740360    None
Length: 27752, dtype: object

In [488]:
df.head()

,lead_paragraph,keywords,pub_date,type_of_material,print_page,text,United States Politics and Government,article,keyword_list
_id,,,,,,,,,
nyt://article/eeb31381-63db-5bf0-8e56-c92b1bc2135e,SACRAMENTO — With their most vulnerable member...,"[{'name': 'subject', 'value': 'Churches (Build...",2020-06-01T00:28:09+0000,News,14.0,SACRAMENTO — With their most vulnerable member...,None,Outside the confines of these walls we hear th...,"[, Churches, (Buildings), Coronavirus, (2019-n..."
nyt://article/25642b46-e875-56a1-b7fd-1be7c34a4179,[Follow our live updates on the George Floyd p...,"[{'name': 'subject', 'value': 'George Floyd Pr...",2020-06-01T00:45:13+0000,News,1.0,[Follow our live updates on the George Floyd p...,None,"Light them up, I didn’t like what I saw one bi...","[, George, Floyd, Protests, (2020), Demonstrat..."
nyt://article/cffd8777-d58f-5853-98e9-729e97b1833f,ZOMBI CHILD (2019) Stream on the Criterion Cha...,"[{'name': 'subject', 'value': 'Television', 'r...",2020-06-01T05:00:09+0000,News,7.0,ZOMBI CHILD (2019) Stream on the Criterion Cha...,None,"something personal has a story to tell, but it...","[, Television, Movies, ]"
nyt://article/0d6112f7-242d-5ab7-8882-44b56b5cfcd3,A British woman who was convicted of killing h...,"[{'name': 'glocations', 'value': 'Great Britai...",2020-06-01T06:11:39+0000,News,13.0,A British woman who was convicted of killing h...,None,"the facts are extraordinary, tragic and, one w...","[, Great, Britain, Domestic, Violence, Murders..."
nyt://article/6b78ea2e-6951-58a7-b8f8-7227d1985beb,As commissioner of one of New York City’s long...,"[{'name': 'subject', 'value': 'Basketball', 'r...",2020-06-01T07:00:09+0000,News,1.0,As commissioner of one of New York City’s long...,None,"I wander around the house, My wife is like, ‘W...","[, Basketball, Coronavirus, (2019-nCoV), Upper..."

In [469]:
example = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])

In [470]:
example

   A  B
0  4  9
1  4  9
2  4  9

In [473]:
example.apply(np.sqrt)

     A    B
0  2.0  3.0
1  2.0  3.0
2  2.0  3.0

In [474]:
example.apply(np.sum, axis=0)

A    12
B    27
dtype: int64

In [12]:
# printed_2020 = printed(df2020)
# printed_2019 = printed(df2019)
# printed_2018 = printed(df2018)
# printed_2017 = printed(df2017)
# printed_2016 = printed(df2016)
# printed_2015 = printed(df2015)
# printed_2014 = printed(df2014)
# printed_2013 = printed(df2013)
# printed_2012 = printed(df2012)
# printed_2011 = printed(df2011)

In [13]:
# list_printed_2011_2020 = [printed_2020,
#                      printed_2019,
#                      printed_2018,
#                      printed_2017,
#                      printed_2016,
#                      printed_2015,
#                      printed_2014,
#                      printed_2013,
#                      printed_2012,
#                      printed_2011]
# printed_2011_2020 = pd.concat(list_printed_2011_2020)
# printed_2011_2020.to_csv("data/printed/printed_2011_2020.csv")

In [14]:
# printed_2010 = printed(df2010)
# printed_2009 = printed(df2009)
# printed_2008 = printed(df2008)
# printed_2007 = printed(df2007)
# printed_2006 = printed(df2006)
# printed_2005 = printed(df2005)
# printed_2004 = printed(df2004)
# printed_2003 = printed(df2003)
# printed_2002 = printed(df2002)
# printed_2001 = printed(df2001)

In [15]:
# list_printed_2001_2010 = [printed_2010,
#                      printed_2009,
#                      printed_2008,
#                      printed_2007,
#                      printed_2006,
#                      printed_2005,
#                      printed_2004,
#                      printed_2003,
#                      printed_2002,
#                      printed_2001]
# printed_2001_2010 = pd.concat(list_printed_2001_2010)
# printed_2001_2010.to_csv("data/printed/printed_2001_2010.csv")

In [16]:
# printed_2000 = printed(df2000)
# printed_1999 = printed(df1999)
# printed_1998 = printed(df1998)
# printed_1997 = printed(df1997)
# printed_1996 = printed(df1996)
# printed_1995 = printed(df1995)
# printed_1994 = printed(df1994)
# printed_1993 = printed(df1993)
# printed_1992 = printed(df1992)
# printed_1991 = printed(df1991)

In [17]:
# list_printed_1991_2000 = [printed_2000,
#                           printed_1999,
#                           printed_1998,
#                           printed_1997,
#                           printed_1996,
#                           printed_1995,
#                           printed_1994,
#                           printed_1993,
#                           printed_1992,
#                           printed_1991]
# printed_1991_2000 = pd.concat(list_printed_1991_2000)
# printed_1991_2000.to_csv("data/printed/printed_1991_2000.csv")

# broke here!!!

In [18]:
# printed_1990 = printed(df1990)
# printed_1989 = printed(df1989)
# printed_1988 = printed(df1988)
# printed_1987 = printed(df1987)
# printed_1986 = printed(df1986)
# printed_1985 = printed(df1985)
# printed_1984 = printed(df1984)
# printed_1983 = printed(df1983)
# printed_1982 = printed(df1982)
# printed_1981 = printed(df1981)

In [19]:
# list_printed_1981_1990 = [printed_1990,
#                           printed_1989,
#                           printed_1988,
#                           printed_1987,
#                           printed_1986,
#                           printed_1985,
#                           printed_1984,
#                           printed_1983,
#                           printed_1982,
#                           printed_1981]
# printed_1981_1990 = pd.concat(list_printed_1981_1990)
# printed_1981_1990.to_csv("data/printed/printed_1981_1990.csv")

In [20]:
# print(printed_2020.shape)
# print(printed_2019.shape)
# print(printed_2018.shape)
# print(printed_2017.shape)
# print(printed_2016.shape)
# print(printed_2015.shape)
# print(printed_2014.shape)
# print(printed_2013.shape)
# print(printed_2012.shape)
# print(printed_2011.shape)
# print(printed_2010.shape)
# print(printed_2009.shape)
# print(printed_2008.shape)
# print(printed_2007.shape)
# print(printed_2006.shape)
# print(printed_2005.shape)
# print(printed_2004.shape)
# print(printed_2003.shape)
# print(printed_2002.shape)
# print(printed_2001.shape)
# print(printed_2000.shape)
# print(printed_1999.shape)
# print(printed_1998.shape)
# print(printed_1997.shape)
# print(printed_1996.shape)
# print(printed_1995.shape)
# print(printed_1994.shape)
# print(printed_1993.shape)
# print(printed_1992.shape)
# print(printed_1991.shape)
# print(printed_1990.shape)
# print(printed_1989.shape)
# print(printed_1988.shape)
# print(printed_1987.shape)
# print(printed_1986.shape)
# print(printed_1985.shape)
# print(printed_1984.shape)
# print(printed_1983.shape)
# print(printed_1982.shape)
# print(printed_1981.shape)

# filter keywords

In [21]:
# %%time
# keyword_df2020 = filter_keyword(printed_2020)
# keyword_df2019 = filter_keyword(printed_2019)
# keyword_df2018 = filter_keyword(printed_2018)
# keyword_df2017 = filter_keyword(printed_2017)
# keyword_df2016 = filter_keyword(printed_2016)
# keyword_df2015 = filter_keyword(printed_2015)
# keyword_df2014 = filter_keyword(printed_2014)
# keyword_df2013 = filter_keyword(printed_2013)
# keyword_df2012 = filter_keyword(printed_2012)
# keyword_df2011 = filter_keyword(printed_2011)

In [22]:
# %%time
# keyword_df2010 = filter_keyword(printed_2010)
# keyword_df2009 = filter_keyword(printed_2009)
# keyword_df2008 = filter_keyword(printed_2008)
# keyword_df2007 = filter_keyword(printed_2007)
# keyword_df2006 = filter_keyword(printed_2006)
# keyword_df2005 = filter_keyword(printed_2005)
# keyword_df2004 = filter_keyword(printed_2004)
# keyword_df2003 = filter_keyword(printed_2003)
# keyword_df2002 = filter_keyword(printed_2002)
# keyword_df2001 = filter_keyword(printed_2001)

In [23]:
# %%time
# keyword_df2000 = filter_keyword(printed_2000)
# keyword_df1999 = filter_keyword(printed_1999)
# keyword_df1998 = filter_keyword(printed_1998)
# keyword_df1997 = filter_keyword(printed_1997)
# keyword_df1996 = filter_keyword(printed_1996)
# keyword_df1995 = filter_keyword(printed_1995)
# keyword_df1994 = filter_keyword(printed_1994)
# keyword_df1993 = filter_keyword(printed_1993)
# keyword_df1992 = filter_keyword(printed_1992)
# keyword_df1991 = filter_keyword(printed_1991)

In [24]:
# # %%time
# keyword_df1990 = filter_keyword(printed_1990)
# keyword_df1989 = filter_keyword(printed_1989)
# keyword_df1988 = filter_keyword(printed_1988)
# keyword_df1987 = filter_keyword(printed_1987)
# keyword_df1986 = filter_keyword(printed_1986)
# keyword_df1985 = filter_keyword(printed_1985)
# keyword_df1984 = filter_keyword(printed_1984)
# keyword_df1983 = filter_keyword(printed_1983)
# keyword_df1982 = filter_keyword(printed_1982)
# keyword_df1981 = filter_keyword(printed_1981)

In [25]:
# print(keyword_df2020.shape)
# print(keyword_df2019.shape)
# print(keyword_df2018.shape)
# print(keyword_df2017.shape)
# print(keyword_df2016.shape)
# print(keyword_df2015.shape)
# print(keyword_df2014.shape)
# print(keyword_df2013.shape)
# print(keyword_df2012.shape)
# print(keyword_df2011.shape)
# print(keyword_df2010.shape)
# print(keyword_df2009.shape)
# print(keyword_df2008.shape)
# print(keyword_df2007.shape)
# print(keyword_df2006.shape)
# print(keyword_df2005.shape)
# print(keyword_df2004.shape)
# print(keyword_df2003.shape)
# print(keyword_df2002.shape)
# print(keyword_df2001.shape)
# print(keyword_df2000.shape)
# print(keyword_df1999.shape)
# print(keyword_df1998.shape)
# print(keyword_df1997.shape)
# print(keyword_df1996.shape)
# print(keyword_df1995.shape)
# print(keyword_df1994.shape)
# print(keyword_df1993.shape)
# print(keyword_df1992.shape)
# print(keyword_df1991.shape)
# print(keyword_df1990.shape)
# print(keyword_df1989.shape)
# print(keyword_df1988.shape)
# print(keyword_df1987.shape)
# print(keyword_df1986.shape)
# print(keyword_df1985.shape)
# print(keyword_df1984.shape)
# print(keyword_df1983.shape)
# print(keyword_df1982.shape)
# print(keyword_df1981.shape)

In [26]:
# #concat df together
# df = pd.concat([keyword_df2020,
#                 keyword_df2019,
#                 keyword_df2018,
#                 keyword_df2017,
#                 keyword_df2016,
#                 keyword_df2015,
#                 keyword_df2014,
#                 keyword_df2013,
#                 keyword_df2012,
#                 keyword_df2011,
#                 keyword_df2010]#,
#                 keyword_df2009,
#                 keyword_df2008,
#                 keyword_df2007,
#                 keyword_df2006,
#                 keyword_df2005,
#                 keyword_df2004,
#                 keyword_df2003,
#                 keyword_df2002,
#                 keyword_df2001,
#                 keyword_df2000,
#                 keyword_df1999,
#                 keyword_df1998,
#                 keyword_df1997,
#                 keyword_df1996,
#                 keyword_df1995,
#                 keyword_df1994,
#                 keyword_df1993,
#                 keyword_df1992,
#                 keyword_df1991,
#                 keyword_df1990,
#                 keyword_df1989,
#                 keyword_df1988,
#                 keyword_df1987,
#                 keyword_df1986,
#                 keyword_df1985,
#                 keyword_df1984,
#                 keyword_df1983,
#                 keyword_df1982,
#                 keyword_df1981,
#                 keyword_df1980])